body{
	text-align: center;
		width: middle;
	padding: 90px;
	/*background-color: rgb(250,200,230, 0.4);*/
	
    }
.Menu{
		display:block;
		width: middle;
		list-style-type: none;
		margin-right: 50px;
		font-size: 25px;
		font-weight: 400;
		font-style: italic;
		height: 100px;
		
}


ul {
	list-style-type: square;

}
#footer {
  position: absolute;
  bottom: 0;
  
  width: middle;
   background:rgb(240, 200, 230, 0.2);            /* Footer height */
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

input {
	color:rgb(255,255,0, 0%);
	float: center;
	}
.in {
	color:grey;
	font-width: 600px;
}


.write {
	color:blue;
		background:rgb(240, 200, 230, 0.3);
		margin-left: auto;
		margin-right: auto;
		width: 50%;

}
a.catalogue_2, a.catalogue_3:visited {
	color:tomato;
}
tr {
border-color: tomato;
colspan="2";
}
/*Внешняя граница таблицы*/
table {
text-align:auto;
border-spacing: auto;
padding: 50px;
align-content: auto;
margin-right: auto;
margin-left: auto;
font-size:20px;
}
/*Границы для ячеек таблицы*/
td {
border-color:tomato;
font-style:italic;
align-content: center;
}
table, th, td {
  border: 1px solid black;
}

head {
	text-align:right;
}
h2 {
	text-align: 300px;
}

.Menu_Name {
	 margin-bottom: 100px;
	}

.caption {
	padding-bottom: 10px;
}	
.M_1 {margin-right: 300px;}
.M_2 {}
.M_3 {margin-left: 300px;}

.catalogue_ff, .contacts {
	font-size:13px;
	text-align: left;
}

.text { margin-left: 17px;
}
.to {
	font-size: 20px;
	margin-top: 30px;
}
.write {
	width: 300px;
}

}
.address {
	align-content: center;
		}
a.contacts_3:visited {
	color:tomato;
}
a.index_1:visited {
	margin-top: 40px;
}
.name {
	margin-right: 27px;
}
.pig_description {
	border:2px orange;
	border-style: dashed;
	text-align: left;
}
.TABLE {
	display: block;
	margin-bottom: 100px;
}